<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->
    <!--<contextName>rtas_log</contextName>-->
    <!--&lt;!&ndash; 日志文件存储路径 &ndash;&gt;-->
    <!--<property name="LOG_HOME" value="./logs/my_log" />-->
    <!--&lt;!&ndash; 控制台输出(格式) &ndash;&gt;-->
    <!--<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 按照每天生成INFO级别日志文件 &ndash;&gt;-->
    <!--<appender name="Info"  class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<charset>UTF-8</charset>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
            <!--<FileNamePattern>${LOG_HOME}/info.%d{yyyy-MM-dd}.log</FileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数&ndash;&gt;-->
            <!--<MaxHistory>1</MaxHistory>-->
        <!--</rollingPolicy>-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
        <!--</encoder>-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<MaxFileSize>1MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
        <!--&lt;!&ndash; 此日志文件只记录info级别的 &ndash;&gt;-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>info</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->

        <!--&lt;!&ndash; 格式化输出 &ndash;&gt;-->
        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</encoder>-->
    <!--</appender>-->

   <!--&gt;-->

    <!--&lt;!&ndash; 按照每天生成ERROR级别日志文件 &ndash;&gt;-->
    <!--<appender name="Error"  class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<charset>UTF-8</charset>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--&lt;!&ndash;日志文件输出的文件名&ndash;&gt;-->
            <!--<FileNamePattern>${LOG_HOME}/error.%d{yyyy-MM-dd}.log</FileNamePattern>-->
            <!--&lt;!&ndash;日志文件保留天数&ndash;&gt;-->
            <!--<MaxHistory>10</MaxHistory>-->
        <!--</rollingPolicy>-->

        <!--<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>-->
        <!--</encoder>-->
        <!--&lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
        <!--<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
            <!--<MaxFileSize>10MB</MaxFileSize>-->
        <!--</triggeringPolicy>-->
        <!--&lt;!&ndash; 此日志文件只记录error级别的 &ndash;&gt;-->
        <!--<filter class="ch.qos.logback.classic.filter.LevelFilter">-->
            <!--<level>error</level>-->
            <!--<onMatch>ACCEPT</onMatch>-->
            <!--<onMismatch>DENY</onMismatch>-->
        <!--</filter>-->
    <!--</appender>-->

    <!--&lt;!&ndash; 日志输出级别 &ndash;&gt;-->
    <!--<root level="Info">-->
        <!--&lt;!&ndash; 控制台输出 &ndash;&gt;-->
        <!--<appender-ref ref="console" />-->
        <!--<appender-ref ref="STDOUT" />-->
        <!--<appender-ref ref="Info" />-->
        <!--<appender-ref ref="Error" />-->
    <!--</root>-->

<!--</configuration>-->